<div class="features">
    <div class="container">
        <div class="row">
        <!-- iterate over items  -->
            <%-include('./feature_item')%>
        <!-- iterate over items  -->
        </div>
    </div>
</div>