<div class="col-lg-2 col-md-6 col-sm-6">
    <div class="item">
        <div class="thumb">
            <a href="product-details.html"><img src="template/images/top-game-01.jpg" alt=""></a>
        </div>
        <div class="down-content">
            <span class="category">Adventure</span>
            <h4>Assassin's Creed</h4>
            <a href="product-details.html">Explore</a>
        </div>
    </div>
</div>