<div class="main-banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 align-self-center">
                <div class="caption header-text">
                    <h6>Welcome to lugx</h6>
                    <h2>BEST GAMING SITE EVER!</h2>
                    <p>LUGX Gaming is free Bootstrap 5 HTML CSS website template for your gaming websites. You can download and use this layout for commercial purposes. Please tell your friends about TemplateMo.</p>

                </div>
            </div>
            <div class="col-lg-4 offset-lg-2">
                <div class="right-image">
                    <img src="template/images/banner-image.jpg" alt="">
                    <span class="price">$22</span>
                    <span class="offer">-40%</span>
                </div>
            </div>
        </div>
    </div>
</div>