<div class="section most-played">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-heading">
                    <h6>TOP GAMES</h6>
                    <h2>Most Played</h2>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="main-button">
                    <a href="shop.html">View All</a>
                </div>
            </div>
              <!-- iterate over games -->
                <%-include('./game_item')%>
              <!-- iterate over games -->
        </div>
    </div>
</div>