<div class="search-input">
    <form id="search" action="#">
        <input type="text" placeholder="Type Something" id='searchText' name="searchKeyword" onkeypress="handle" />
        <button role="button">Search Now</button>
    </form>
</div>